__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
vmlu_v2
vmlu/
code_benchmark/all_res
leaderboard.json
code_benchmark/logs/
logs/
code_benchmark/submission.csv
submission.csv
all_res/
.env
.env.*
!.env.example
!.env.template
!.env.sample

